@import '../styles/reset';
@import '../styles/vars';
@import '../styles/mixins';

// Globals
html {
  background: $off-white;
  font-family: $body;
}

html, body {
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $title;
  color: $green;
}

h1 {
  font-size: 5em;

  @include mobile {
    font-size: 8rem;
  }
 }

p, a, li {
  color: $green;
}

.About {
  position: relative;

  &:before, &:after {
    content: '';
    background: $pink;
    width: 60px;
    height: 10px;
    position: absolute;
  }
  &:before {
    right: -7%;
    top: -28%;
  }
  &:after {
    left: -10%;
    bottom: -32%;
  }
}
